@media only screen and ( min-width: 40.063em ) { // ~640px

// foundation overrides
// html { font-size: 18px; } // 1.125em = 18px, 1.25 = 20px
// .column, .columns { padding-left: 2em; padding-right: 2em; }

// landing page
.lw14-landing {
	&-intro, &-location, &-about, &-ministries, &-staff {
		min-height: 100%;
	}
}

.lw14-landing-intro {
	.row { max-width: 600px; }

	min-height: 90%;
	background-position: left bottom;
	background-size: contain;
}

.lw14-landing-about {
	.row { max-width: 600px; }

	&-closing-text {
		letter-spacing: .1em;
		margin-left: 5.95em;
		text-indent: -5.95em;
	}
}

.lw14-landing-ministries {
	&-subtitle, &-text { text-align: left; }
}

}
