@media only screen and ( min-width: 40.063em ) { // ~640px

// foundation overrides
// html { font-size: 18px; } // 1.125em = 18px, 1.25 = 20px
// .column, .columns { padding-left: 2em; padding-right: 2em; }

// landing page
.lw14-landing {
	&-intro, &-visitors, &-about, &-ministries, &-staff {
		min-height: 100%;
	}

	&-intro, &-about, &-visitors, &-staff {
		.row { max-width: 600px; }
	}
}

.lw14-landing-intro {
	min-height: 90%;
}

.lw14-landing-about {
	&-closing-text {
		letter-spacing: .1em;
		margin-left: 5.95em;
		text-indent: -5.95em;
	}
}

.lw14-landing-ministries {
	&-subtitle, &-text { text-align: left; }
}

.lw14-landing-staff {
	text-align: left;

	&-photo {
		width: 155px;
		height: 155px;
	}
}

}
