@media only screen and ( min-width: 64.063em ) {

// foundation overrides
html { font-size: 20px; }
.row { max-width: 960px; }

// landing page
.lw14-landing {
	
}

.lw14-landing-intro {
	min-height: 90%;
	background-position: left bottom;
	background-size: contain;
}

.lw14-landing-about {
	&-closing-text {
		font-size: 1.2em;
		// margin-left: 143px;
		// text-indent: -143px;
	}
}

}
