@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-bold-webfont.woff') format('woff'), url('../fonts/montserrat-bold-webfont.ttf') format('truetype'), url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_serifbold';
  src: url('../fonts/pt_serif-web-bold-webfont.eot');
  src: url('../fonts/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-bold-webfont.woff') format('woff'), url('../fonts/pt_serif-web-bold-webfont.ttf') format('truetype'), url('../fonts/pt_serif-web-bold-webfont.svg#pt_serifbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_serifbold_italic';
  src: url('../fonts/pt_serif-web-bolditalic-webfont.eot');
  src: url('../fonts/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-bolditalic-webfont.woff') format('woff'), url('../fonts/pt_serif-web-bolditalic-webfont.ttf') format('truetype'), url('../fonts/pt_serif-web-bolditalic-webfont.svg#pt_serifbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_serifitalic';
  src: url('../fonts/pt_serif-web-italic-webfont.eot');
  src: url('../fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-italic-webfont.woff') format('woff'), url('../fonts/pt_serif-web-italic-webfont.ttf') format('truetype'), url('../fonts/pt_serif-web-italic-webfont.svg#pt_serifitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_serifregular';
  src: url('../fonts/pt_serif-web-regular-webfont.eot');
  src: url('../fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/pt_serif-web-regular-webfont.ttf') format('truetype'), url('../fonts/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  color: inherit;
  font-family: inherit;
  line-height: 1.5;
}
p,
ul,
ol,
dl {
  line-height: 1.5;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: transparent;
}
.top-bar {
  height: 60px;
  line-height: 60px;
}
.top-bar.expanded {
  background: #222;
  background: rgba(17, 17, 17, 0.9);
}
.top-bar.expanded .title-area {
  background: transparent;
}
.top-bar .name {
  height: 60px;
}
.top-bar .name h1 {
  padding-top: 10px;
}
.top-bar .name h1 a {
  display: inline-block;
  width: 53px;
  height: 40px;
  padding: 0;
}
.top-bar .toggle-topbar a {
  font-size: inherit;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  display: inline;
  padding: 0 0 4px;
  background: inherit;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: inherit;
}
.top-bar-section ul {
  font-size: inherit;
  background: inherit;
}
.top-bar-section ul li > a {
  display: inline-block;
  font-family: inherit;
}
.top-bar-section ul li.active > a {
  font-size: inherit;
}
html,
body {
  height: 100%;
}
html {
  height: 100%;
}
body {
  font-size: 16px;
}
iframe {
  max-width: 100%;
}
a {
  color: #0099ff;
}
p {
  text-rendering: optimizelegibility;
}
.lw14 {
  color: #545454;
  font-family: 'pt_serifregular';
  background: #222222;
}
.lw14-nav-container {
  background: rgba(17, 17, 17, 0.9);
}
.lw14-nav {
  background: transparent;
  font-family: 'montserratregular';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lw14-nav-logo {
  text-indent: -9999px;
  background: transparent url('../img/menu-logo.png') no-repeat scroll center center;
}
.lw14-nav-menu-item {
  line-height: 60px;
}
.lw14-nav-menu-item-link {
  transition: text-shadow 300ms;
}
.lw14-nav-menu-item-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.lw14-footer {
  padding: 1em 0;
  color: #fafbfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222222;
}
.lw14-landing-intro,
.lw14-landing-visitors,
.lw14-landing-about,
.lw14-landing-ministries,
.lw14-landing-staff {
  padding-bottom: 5em;
}
.lw14-landing-about,
.lw14-landing-visitors,
.lw14-landing-staff {
  padding-top: 100px;
}
.lw14-landing-about-title,
.lw14-landing-visitors-title,
.lw14-landing-staff-title {
  line-height: 1;
}
.lw14-landing-title {
  margin-bottom: 1em;
  font-family: 'pt_serifitalic';
  font-size: 2em;
  letter-spacing: 0.05em;
}
.lw14-landing-subtitle {
  margin-bottom: 1em;
  font-family: 'montserratregular';
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lw14-landing-intro {
  color: #fafbfc;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafbfc url('../img/landing-intro-bg-2-mobile.jpg') no-repeat scroll center center;
  background-size: cover;
}
.lw14-landing-intro-title {
  padding-top: 92px;
  margin-bottom: 0.25em;
  font-family: 'montserratregular';
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.lw14-landing-intro-text {
  margin-bottom: 1em;
}
.lw14-landing-intro-text:last-child {
  margin-bottom: 0;
}
.lw14-landing-intro-scrolldown {
  font-size: 2em;
  margin-top: 2em;
}
.lw14-landing-about {
  color: #fafbfc;
  font-family: 'pt_serifitalic';
  letter-spacing: 0.05em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3d3d3d url('../img/landing-about-bg-2.jpg') no-repeat scroll center top;
  background-size: cover;
}
.lw14-landing-about-title {
  margin-bottom: 0.625em;
  letter-spacing: 0.1em;
}
.lw14-landing-about-list {
  margin: 0 0 0 0.95em;
  list-style-type: none;
}
.lw14-landing-about-list-item {
  margin-bottom: 1em;
  text-indent: -0.95em;
}
.lw14-landing-about-list-item:last-child {
  margin-bottom: 0;
}
.lw14-landing-about-closing {
  margin-top: 2.45em;
}
.lw14-landing-about-closing-text {
  margin-bottom: 0;
  font-size: 1.125em;
  letter-spacing: 2px;
}
.lw14-landing-ministries {
  padding-bottom: 4em;
  text-align: center;
  background: #fafbfc;
}
.lw14-landing-ministries-title {
  padding-top: 94px;
  margin-bottom: 38px;
  font-size: 1.5em;
}
.lw14-landing-ministries-ministry {
  padding-bottom: 1em;
}
.lw14-landing-ministries-ministry-container {
  height: 350px;
  padding: 1em;
  position: relative;
}
.lw14-landing-ministries-ministry-container-english {
  background: url('http://placehold.it/800x800') no-repeat scroll center center;
}
.lw14-landing-ministries-ministry-container-chinese {
  background: url('http://placehold.it/800x800') no-repeat scroll center center;
}
.lw14-landing-ministries-ministry-container-youth {
  background: url('http://placehold.it/800x800') no-repeat scroll center center;
}
.lw14-landing-ministries-ministry-container-children {
  background: url('http://placehold.it/800x800') no-repeat scroll center center;
}
.lw14-landing-ministries-ministry-content {
  position: absolute;
  bottom: 1em;
  left: 1em;
  margin-right: 1em;
  color: #fafbfc;
  font-size: 80%;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lw14-landing-ministries-subtitle {
  margin-bottom: 0;
}
.lw14-landing-ministries-text {
  margin-bottom: 0;
}
.lw14-landing-visitors {
  background: #e0f5ff url('../img/landing-visitors-bg.jpg') no-repeat scroll center bottom;
  background-size: cover;
}
.lw14-landing-visitors-title,
.lw14-landing-visitors-subtitle,
.lw14-landing-visitors-text {
  margin-bottom: 0;
}
.lw14-landing-visitors-subtitle {
  margin-top: 2em;
}
.lw14-landing-staff {
  background: #fafbfc;
  text-align: center;
}
.lw14-landing-staff-title {
  margin-bottom: 0;
}
.lw14-landing-staff-position {
  color: #aaaaaa;
  font-family: 'montserratregular';
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lw14-landing-staff-member {
  margin-top: 3em;
}
.lw14-landing-staff-photo-frame {
  text-align: center;
}
.lw14-landing-staff-photo {
  display: inline-block;
  width: 240px;
  height: 240px;
  max-width: 100%;
  border-radius: 100%;
  background: url('http://placehold.it/800x800') no-repeat scroll left top;
  background-size: contain;
}
.lw14-landing-staff-name {
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1;
}
.lw14-landing-staff-text {
  margin-bottom: 1em;
}
@media only screen and (min-width: 40.063em) {
  .lw14-nav-menu-item {
    padding: 0 1em;
  }
  .lw14-nav-menu-item:first-child {
    padding-left: 0;
  }
  .lw14-nav-menu-item:last-child {
    padding-right: 0;
  }
  .lw14-landing-intro,
  .lw14-landing-visitors,
  .lw14-landing-about,
  .lw14-landing-ministries,
  .lw14-landing-staff {
    min-height: 100%;
  }
  .lw14-landing-intro .container,
  .lw14-landing-about .container,
  .lw14-landing-ministries .container,
  .lw14-landing-visitors .container,
  .lw14-landing-staff .container {
    max-width: 600px;
  }
  .lw14-landing-intro {
    min-height: 90%;
    background-position: center top;
  }
  .lw14-landing-about-closing-text {
    letter-spacing: .1em;
    margin-left: 5.95em;
    text-indent: -5.95em;
  }
  .lw14-landing-staff {
    text-align: left;
  }
  .lw14-landing-staff-photo {
    width: 155px;
    height: 155px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    zoom: 1.1;
  }
}
@media only screen and (min-width: 64.063em) {
  body {
    font-size: 20px;
  }
  .lw14-landing-intro .container,
  .lw14-landing-about .container,
  .lw14-landing-ministries .container,
  .lw14-landing-visitors .container,
  .lw14-landing-staff .container {
    max-width: 870px;
  }
  .lw14-landing-intro {
    min-height: 90%;
    background-image: url('../img/landing-intro-bg-2.jpg');
    background-position: center center;
  }
  .lw14-landing-intro-title {
    padding-top: 88px;
    margin-bottom: 0.375em;
    font-size: 2.4em;
  }
  .lw14-landing-intro-text {
    font-size: 1.2em;
  }
  .lw14-landing-about {
    background-position: left top;
  }
  .lw14-landing-about-closing-text {
    font-size: 1.2em;
  }
  .lw14-landing-ministries-title {
    padding-top: 92px;
  }
  .lw14-landing-ministries-list-item-content {
    font-size: 80%;
  }
  .lw14-landing-staff-photo {
    width: 230px;
    height: 230px;
  }
}
