@import 'lw14-includes.less';

// variables
@nav-height: 60px;
@img_dir: '../img';
@bg-light: #fafbfc;
@bg-light-rgba: rgba( 250, 251, 252, 0.95 );
@bg-blue: #e0f5ff;
@bg-dark: #3d3d3d;
@bg-nav: #222;
@default-text: #545454;

// foundation overrides
body { cursor: auto; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5em 0; color: inherit; font-family: inherit; line-height: 1.5; }
p, ul, ol, dl { line-height: 1.5; }
p { font-size: 1em; }
.row { padding-left: 1em; padding-right: 1em; }

// foundation menu overrides
.top-bar { height: @nav-height; line-height: @nav-height; }
.top-bar.expanded { background: #222; background: rgba( 17, 17, 17, 0.9 ); }
.top-bar.expanded .title-area { background: transparent; }
.top-bar .name { height: @nav-height; }
.top-bar .name h1 { padding-top: 10px; }
.top-bar .name h1 a { display: inline-block; width: 53px; height: 40px; padding: 0; }
.top-bar .toggle-topbar a { font-size: inherit; }
.top-bar-section li:not(.has-form) a:not(.button) { display: inline; padding: 0 0 4px; background: inherit; }
.top-bar-section li:not(.has-form) a:not(.button):hover { background: inherit; }
.top-bar-section ul { font-size: inherit; background: inherit; }
.top-bar-section ul li > a { display: inline-block; font-family: inherit; }
.top-bar-section ul li.active > a { font-size: inherit; }
.top-bar-section ul li.active > a:hover {  }

// global styles
html, body { height: 100%; }
html { height: 100%; font-size: 16px; }
iframe { max-width: 100%; }
.lw14 { color: @default-text; font-family: 'pt_serifregular'; background: @bg-nav; }

.lw14-nav-container { background: @bg-nav; background: rgba( 17, 17, 17, 0.9 ); }
.lw14-nav {
	background: transparent;
	font-family: 'montserratregular';
	text-transform: uppercase;
	letter-spacing: 0.1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&-logo {
		text-indent: -9999px;
		background: transparent url( '@{img_dir}/menu-logo.png' ) no-repeat scroll center center;
	}

	&-menu-item { line-height: @nav-height; }
	&-menu-item-link:hover { border-bottom: 1px solid @bg-light; }
}

.lw14-footer {
	padding: 1em 0;

	color: @bg-light;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: @bg-nav;
}

// landing page
.lw14-landing {
	&-intro, &-visitors, &-about, &-ministries, &-staff { padding-bottom: 5em; }

	&-about, &-visitors, &-staff {
		padding-top: 100px;

		&-title { line-height: 1; }
	}

	&-title {
		margin-bottom: 1em;
		font-family: 'pt_serifitalic';
		font-size: 2em;
		letter-spacing: 0.05em;
	}
	&-subtitle {
		margin-bottom: 1em;
		font-family: 'montserratregular';
		font-size: 1em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

.lw14-landing-intro {
	color: @bg-light; 
	text-align: center;
	text-shadow: 0 0 1px rgba( 0, 0, 0, 0.3 );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: @bg-light url( '@{img_dir}/landing-intro-bg-2-mobile.jpg' ) no-repeat scroll center center;
	background-size: cover;

	&-title {
		padding-top: 92px; // 50px nav + 50px padding needed = 100px. but the line height makes up for some of that 2nd 50px.
		margin-bottom: 0.25em; // takes into account the extra 4px from the line height of the subtext + the extra 8px at the bottom of the title text.
		font-family: 'montserratregular';
		font-size: 2em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&-text { margin-bottom: 1em; }
	&-text:last-child { margin-bottom: 0; }
	&-scrolldown { font-size: 2em; margin-top: 2em; }
}

.lw14-landing-about {
	color: @bg-light;
	font-family: 'pt_serifitalic';
	letter-spacing: 0.05em;
	text-shadow: 0 0 1px rgba( 0, 0, 0, 0.3 ); // makes the text stand out more (too thin w/out it)
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: @bg-dark url( '@{img_dir}/landing-about-bg-2.jpg' ) no-repeat scroll center top;
	background-size: cover;

	&-title {
		margin-bottom: 0.625em;
		letter-spacing: 0.1em;
	}

	&-list { margin: 0 0 0 0.95em; list-style-type: none; }
	&-list-item { margin-bottom: 1em; text-indent: -0.95em; }
	&-list-item:last-child { margin-bottom: 0; }

	&-closing { margin-top: 2.45em; } // 60px total
	&-closing-text { margin-bottom:0; font-size: 1.125em; letter-spacing: 2px; } // 1.125em = 18px
}

.lw14-landing-ministries {
	padding-bottom: 4em; // as opposed to 5em, because the paragraphs have a margin
	text-align: center;
	background: @bg-light;

	&-title {
		padding-top: 94px;
		margin-bottom: 38px;
		font-size: 1.5em;
	}

	&-columns { padding-left: 0; padding-right: 0; }
	&-list { margin: 0 auto; }
	& &-list-item { padding-left: 1em; padding-right: 1em; }

	&-subtitle { margin-top: 1em; margin-bottom: 0.5em; line-height: 1; }
	// &-text { margin-bottom: 0; }
}

.lw14-landing-visitors {
	background: @bg-blue url( '@{img_dir}/landing-visitors-bg.jpg' ) no-repeat scroll center bottom;
	background-size: cover;

	&-title, &-subtitle, &-text { margin-bottom: 0; }

	&-title {  }
	&-subtitle { margin-top: 2em; }
	&-text { }
}

.lw14-landing-staff {
	background: @bg-light;

	text-align: center;

	&-title { margin-bottom: 0; }


	&-member { margin-top: 3em; }
	&-photo-frame { text-align: center; }
	&-photo {
		display: inline-block;
		width: 240px;
		height: 240px;
		max-width: 100%;
		border-radius: 100%;
		background: url( 'http://placehold.it/800x800' ) no-repeat scroll left top;
		background-size: contain;
	}
	&-name { margin-top: 1em; margin-bottom: 0.5em; line-height: 1; }
	&-text { margin-bottom: 0; }
}

@import 'lw14-medium.less';
@import 'lw14-large.less';
