@media only screen and ( min-width: 1200px ) {

// all pages
.lw14-nav {
	// .row { max-width: 870px; }
}

// landing page
.lw14-landing {
	&-intro, &-about, &-ministries, &-visitors, &-staff {
		// .container { max-width: 870px; }
	}
}

.lw14-landing-intro {
	min-height: 90%;
	background-image: url( '@{img_dir}/landing-intro-bg-2.jpg' );
	background-position: center center;

	h1 {
		font-size: 48px;
	}
}

.lw14-landing-about {
	background-position: left top;

	&-closing-text {
		font-size: 1.2em;
	}
}

.lw14-landing-ministries {
	&-title { padding-top: 92px; }
}

.lw14-landing-staff {
	&-photo {
		width: 260px;
		height: 260px;
	}
}

}
