@media only screen and ( min-width: 1400px ) {
	html { zoom: 1.1; }
}

@media only screen and ( min-width: 64.063em ) {

// foundation overrides
html { font-size: 20px; }

// landing page
.lw14-landing {
	&-intro, &-about, &-visitors, &-staff {
		.row { max-width: 870px; }
	}
}

.lw14-landing-intro {
	min-height: 90%;

	&-title {
		padding-top: 88px; // 50px nav + 50px padding needed = 100px. but the line height makes up for some of that 2nd 50px.
		margin-bottom: 0.375em; // accounts for the extra 6px from the line height of the subtext.
		font-size: 2.4em;
	}
	&-text { font-size: 1.2em; }
}

.lw14-landing-about {
	&-closing-text {
		font-size: 1.2em;
		// margin-left: 143px;
		// text-indent: -143px;
	}
}

.lw14-landing-ministries {
	&-title { padding-top: 92px; }

	& &-list-item { padding-right: 1em; padding-bottom: 0; padding-left: 1em; }

	&-list-item-content { font-size: 80%; } // 20px => 16px

	&-subtitle, &-text { text-align: center; }
}

.lw14-landing-staff {
	&-photo {
		width: 230px;
		height: 230px;
	}
}

}
